.clearfix:before,.clearfix:before,.clearfix:after { content: ""; display: table;}
.clearfix:after { clear: both;}
.clearfix { zoom: 1;}

*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

pre {
    background: #1B1B1E;
    word-wrap: break-word;
    margin: 0;
    color: #fff; /* base0 */
    font-size: 13px;
    line-height: 1.4em;
    font-weight: normal;
    padding: 10px;
}

pre {
	padding-top: 80px;
}

pre, code {
    font-family: 'Menlo', 'Monaco', Courier, monospace;
    word-break: normal;
	white-space: pre-wrap;
}
pre .comment {
    color: #62626B; /* Comments */
}
pre .keyword, pre .selector {
    color: #FFC22C; /* Orange */
}
pre .constant.numeric { /* Numbers */
	color: #AF8EFF;
}
pre .constant.language {
    color: #FFC22C; /* Orange */
}
pre .string, pre .comment.docstring {
    color: #9EE556; /* Green */
}
pre .keyword.operator {
	color: #fff;
}

span.constant.numeric > span.keyword.operator {
	color: #4DB4EC;
}

a {
	text-decoration: none;
	color: #fff;
	font-weight: 500;
}
